.userInfo-container {
  display: flex;
  margin-left: 50px;
  padding: 10px;
  width: 800px;
}

.userInfo {
  margin-left: 80px;
}

.userInfo-img img {
  width: 200px;
  height: 200px;
}

/* .userInfo button {
  width: 100px;
  height: 30px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
} */
